<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.me.practicecode"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".realm.app.MyApplication"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".bezierview.BezierViewActivity"/>
        <activity android:name=".testview.TestActivity"/>
        <activity android:name=".rxjava.RxJavaTestActivity"/>
        <activity android:name=".realm.ui.RealmAddActivity"/>
        <activity android:name=".realm.ui.RealmTestActivity"/>
        <activity android:name=".realm.ui.RealmQueryActivity"/>
        <activity android:name=".realm.ui.RealmQueryAllActivity"/>
       <activity android:name=".realm.ui.RealmUpdateAcitivity"/>
        <activity android:name=".realm.ui.RealmQueryConditionActivity"/>
        <activity android:name=".realm.ui.RealmQueryOtherActivity"/>
        <activity android:name=".realm.async.AsyncAddActivity"/>
        <activity android:name=".realm.async.RealmAsyncActivity"/>
        <activity android:name=".realm.async.AsyncQueryActivity"/>
        <activity android:name=".realm.async.AysncUpdateActivity"/>
        <activity android:name=".retrofit.RetrofitDemoActivity"/>

    </application>

</manifest>